openapi: 3.2.0
info:
  title: InteleShare / Ambra v3 Services API (Modeled) Storage API
  version: v3
  x-endpoints-modeled: true
  description: MODELED OpenAPI for the Intelerad InteleShare / Ambra "v3 Services" public API (formerly Ambra Health / DICOM Grid).
  contact:
    name: Intelerad Medical Systems
    url: https://www.intelerad.com/en/contact-us/
servers:
- url: https://access.dicomgrid.com/api/v3
  description: InteleShare / Ambra v3 Services API (public cloud; account-specific hosts also exist, e.g. https://access.ambrahealth.com/api/v3)
security:
- sid: []
- basicAuth: []
- oauth: []
tags:
- name: Storage
paths:
  /storage/study/{namespace}/{studyUid}:
    get:
      tags:
      - Storage
      summary: Retrieve study image / pixel data from the Storage API
      parameters:
      - name: namespace
        in: path
        required: true
        schema:
          type: string
      - name: studyUid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Binary DICOM or rendered image payload
      operationId: getStorageStudyByNamespaceByStudyUid
      x-operation-id-source: derived
components:
  securitySchemes:
    sid:
      type: apiKey
      in: query
      name: sid
      description: Session id obtained from /session/login. May also be supplied as a request field depending on the endpoint.
    basicAuth:
      type: http
      scheme: basic
    oauth:
      type: http
      scheme: bearer
      description: OAuth bearer token for third-party integrations.
