openapi: 3.2.0
info:
  title: InteleShare / Ambra v3 Services API (Modeled) Order API
  version: v3
  x-endpoints-modeled: true
  description: MODELED OpenAPI for the Intelerad InteleShare / Ambra "v3 Services" public API (formerly Ambra Health / DICOM Grid).
  contact:
    name: Intelerad Medical Systems
    url: https://www.intelerad.com/en/contact-us/
servers:
- url: https://access.dicomgrid.com/api/v3
  description: InteleShare / Ambra v3 Services API (public cloud; account-specific hosts also exist, e.g. https://access.ambrahealth.com/api/v3)
security:
- sid: []
- basicAuth: []
- oauth: []
tags:
- name: Order
paths:
  /order/list:
    post:
      tags:
      - Order
      summary: List orders / scheduled procedures feeding the worklist
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
      operationId: postOrderList
      x-operation-id-source: derived
  /order/add:
    post:
      tags:
      - Order
      summary: Create an order (often sourced from an inbound HL7 ORM message)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
      operationId: postOrderAdd
      x-operation-id-source: derived
components:
  schemas:
    StatusResponse:
      type: object
      description: Every v3 Services response includes a status field of OK or ERROR.
      required:
      - status
      properties:
        status:
          type: string
          enum:
          - OK
          - ERROR
        error_type:
          type: string
          description: Present when status is ERROR.
        error_subtype:
          type: string
  securitySchemes:
    sid:
      type: apiKey
      in: query
      name: sid
      description: Session id obtained from /session/login. May also be supplied as a request field depending on the endpoint.
    basicAuth:
      type: http
      scheme: basic
    oauth:
      type: http
      scheme: bearer
      description: OAuth bearer token for third-party integrations.
