openapi: 3.0.3
info:
  title: InteleShare / Ambra v3 Services API (Modeled) HL7 Storage API
  version: v3
  x-endpoints-modeled: true
  description: 'MODELED OpenAPI for the Intelerad InteleShare / Ambra "v3 Services" public API (formerly Ambra Health / DICOM Grid). The v3 API is a documented public REST-like interface: clients POST (or GET) to RPC-style action endpoints under a resource namespace, and every response includes a `status` field of "OK" or "ERROR". Authentication uses a session id (`sid`) obtained from /session/login, HTTP Basic auth, or OAuth tokens for third-party integrations. DICOM instance access is also available over the DICOMweb standard (WADO-RS / QIDO-RS / STOW-RS).

    This document is HONESTLY MODELED from the public API reference at https://access.dicomgrid.com/api/v3/api.html and the InteleShare HL7 Guide. Exact request/response schemas, required parameters, and per-endpoint permissions are defined by Intelerad''s authoritative reference and vary by account entitlement; treat the paths below as a representative, not exhaustive or byte-exact, surface.'
  contact:
    name: Intelerad Medical Systems
    url: https://www.intelerad.com/en/contact-us/
servers:
- url: https://access.dicomgrid.com/api/v3
  description: InteleShare / Ambra v3 Services API (public cloud; account-specific hosts also exist, e.g. https://access.ambrahealth.com/api/v3)
security:
- sid: []
- basicAuth: []
- oauth: []
tags:
- name: Storage
paths:
  /storage/study/{namespace}/{studyUid}:
    get:
      tags:
      - Storage
      summary: Retrieve study image / pixel data from the Storage API
      parameters:
      - name: namespace
        in: path
        required: true
        schema:
          type: string
      - name: studyUid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Binary DICOM or rendered image payload
components:
  securitySchemes:
    sid:
      type: apiKey
      in: query
      name: sid
      description: Session id obtained from /session/login. May also be supplied as a request field depending on the endpoint.
    basicAuth:
      type: http
      scheme: basic
    oauth:
      type: http
      scheme: bearer
      description: OAuth bearer token for third-party integrations.
